:root{
    --text-color: #f0f4f5;
    --background-color: rgb(79, 165, 194);
    --nav-color:lightgrey;
    --accent-color:lightblue;
}

body{
    margin:0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

main{padding:25px;}

a{
    text-decoration: none;
    color: var(--text-color);
}
h1{color:lightgrey;}

section{margin-bottom: 100px;}

#navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.nav_logo{
    font-size: 24px;
    color:white;
}

.nav_logo:hover{
    font-size: 24px;
    color:var(--accent-color);
}

.nav_log i{
    color: var(--accent-color);
}

.logoname a:hover{
    color: var(--accent-color);
}

.nav_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav_menu li{
    padding: 8px 12px;
}

.nav_menu li:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.nav_menu li:hover a{
    color: var(--background-color);
}

.nav_icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
    font-size:20px;
}

.nav_icons a:hover{
    color: var(--accent-color);
}

.nav_icons li{
    padding: 8px 12px;
}

.nav_toogleBtn{
    display:none;
    position: absolute;
    right:32px;
    font-size:25px;
    color: var(--text-color);
}

.nav_toogleBtn:hover{
    color: var(--accent-color);
}

.box{margin:auto; width: 80%; height: 200px; border-radius: 10px; border:1px solid lightgrey;}


.upbutton{position: sticky; bottom: 30px; float:right; border-radius:30px; width:50px; height: 50px; background-color: var(--background-color);}
.upbutton i{display: flex; height: 100%; justify-content: center; align-items: center;}


    /* portfilio */
    html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column{margin:auto;}
      .firstProject .column, .secondProject .column{
        float: left;
        width:50%;
        margin-bottom: 50px;
        padding: 0 8px;
      }

      .thirdProject .column{
        width:100%;
        margin-bottom: 50px;
        padding: 0 8px;
        }


      

      
      .card {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;  
    }

      .card img{
        transition: transform .5s, filter 1.5s ease-in-out;
        
      }

      .card img:hover{
        filter: grayscale(0);
        transform: scale(1.1);
        /* filter: grayscale(100%); */
      }
      
      .container {
        padding: 0 16px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title {
        color: grey;
      }
      
      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      .button:hover {
        background-color: #555;
      }

      /* footer{display: flex; justify-content: center; flex-direction: column;} */
      /* .contact{display: flex; width:100%; } */
      .contact{
        display: flex;
        justify-content: center;
        height: 100px;
    }
      .contact a, .contact p{color:grey;}

      /* modal */
      /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* contact */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

      /* media query */

      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }

      @media screen and (max-width:768px) {
        #navbar{
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 24px;
            
        }
        section{margin: 0;}
        .thirdProject .column {margin-bottom: 0;}
        .firstProject .column, .secondProject .column{margin-bottom: 30px;}
        .nav_menu.active li:first-child{margin-top:60px;}
    
        .nav_menu{
            display: none;
            flex-direction: column;
            align-items: center;
            width:100%;
            
        }
    
        .nav_menu li{
           
            width:100%;
            text-align:center;
        }
    
        .nav_icons{
            display: none;
            justify-content:center;
            width:100%;
        }
    
        .nav_toogleBtn{
            display:block;
            align-items: center;
            display: flex;
            justify-content: space-between;
            height: 100px;
            width:95%;
            right: 0;
            left: 0;
            margin: auto;
        }

        .nav_toogleBtn:hover{color: var(--text-color);}

        .nav_toogleBtn p{float:right;}
    
        .nav_menu.active, .nav_icons.active{
            display:flex;
            
        }
    }